eula.txt
Pipfile
data/bots.easybot
cogs/plugintool/invite.png
cogs/plugintool/ops
__pycache__/basicbot.cpython-39.pyc
__pycache__/core.cpython-39.pyc
__pycache__/data.cpython-39.pyc
__pycache__/ui.cpython-39.pyc
cogs/__pycache__/plugin_tools.cpython-39.pyc
.vscode/settings.json
cogs/__pycache__/reddit.cpython-39.pyc
/.vs
cogs/__pycache__/server_tools.cpython-39.pyc
cogs/plugin_tools/invite.png
